<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>BBMS</title>
 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    
    <style> 
        .nav-link{
            text-align: center;
            display: inline;            
        }
        
        .nav-link a:hover{
            opacity:0.6;
            text-decoration: none;
        }
    
    </style>
    
    
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <center>
            <nav>
                <ul>
                    <li role="button" class="active nav-link"><a href=" {{ url_for('appp') }} ">Home</a>
                    </li>
                    <li role="button" class="nav-link"><a href=" {{ url_for('delete') }} ">Delete</a>
                    </li>
                    <li role="button"  class="nav-link"><a href="{{ url_for('Insert') }}"> Insert </a>
                    </li>
                    <!-- <li role="button" class="nav-link"><a href="{{ url_for('Search') }}">Search </a>
                    <li role="button" class="nav-link"><a href="{{ url_for('Update') }}">Update </a></li>
                    </li> -->
                    
                </ul>
            </nav></center>
            <h1><center><font color="red">Click the Query you want to execute</font></center></h1>

        </div>

 
      <div class="header">
            
            <nav>
                <ul>
                     <li role="button" class="nav-link"><a href=" {{ url_for('Q1inter') }} "> Query 1</a>
                    </li>
                    <li role="button" class="nav-link"><a href="{{ url_for('Q2inter')}}">Query 2 </a>
                     <li role="button"  class="nav-link"><a href="{{ url_for('Q3inter') }}"> Query 3 </a>
                    </li>
                   
                    <li role="button" class="nav-link"><a href="{{ url_for('Q4inter') }}">Query 4 </a></li>
                    </li>

                    <li role="button" class="nav-link"><a href="{{ url_for('Q5inter') }}">Query 5 </a></li>
                    </li>

                    <li role="button" class="nav-link"><a href="{{ url_for('Q6') }}">Query 6 </a></li>
                    </li>

                    <li role="button" class="nav-link"><a href="{{ url_for('Q7') }}">Query 7 </a></li>
                    </li>

                    <li role="button" class="nav-link"><a href="{{ url_for('Q8') }}">Query 8 </a></li>
                    </li>

                    <li role="button" class="nav-link"><a href="{{ url_for('Q9') }}">Query 9 </a></li>
                    </li>

                    <li role="button" class="nav-link"><a href="{{ url_for('Q10') }}">Query 10 </a></li>
                    </li>
                    
                </ul>
            </nav>
 
    </div>
</body>
 
</html>